@keyframes particle-1 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(1) {
  animation: particle-1 50s infinite linear; }

@keyframes particle-2 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(2) {
  animation: particle-2 50s infinite linear; }

@keyframes particle-3 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(3) {
  animation: particle-3 50s infinite linear; }

@keyframes particle-4 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(4) {
  animation: particle-4 50s infinite linear; }

@keyframes particle-5 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(5) {
  animation: particle-5 50s infinite linear; }

@keyframes particle-6 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(6) {
  animation: particle-6 50s infinite linear; }

@keyframes particle-7 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(7) {
  animation: particle-7 50s infinite linear; }

@keyframes particle-8 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(8) {
  animation: particle-8 50s infinite linear; }

@keyframes particle-9 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(9) {
  animation: particle-9 50s infinite linear; }

@keyframes particle-10 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(10) {
  animation: particle-10 50s infinite linear; }

@keyframes particle-11 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(11) {
  animation: particle-11 50s infinite linear; }

@keyframes particle-12 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(12) {
  animation: particle-12 50s infinite linear; }

@keyframes particle-13 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(13) {
  animation: particle-13 50s infinite linear; }

@keyframes particle-14 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(14) {
  animation: particle-14 50s infinite linear; }

@keyframes particle-15 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(15) {
  animation: particle-15 50s infinite linear; }

@keyframes particle-16 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(16) {
  animation: particle-16 50s infinite linear; }

@keyframes particle-17 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(17) {
  animation: particle-17 50s infinite linear; }

@keyframes particle-18 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(18) {
  animation: particle-18 50s infinite linear; }

@keyframes particle-19 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(19) {
  animation: particle-19 50s infinite linear; }

@keyframes particle-20 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(20) {
  animation: particle-20 50s infinite linear; }

@keyframes particle-21 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(21) {
  animation: particle-21 50s infinite linear; }

@keyframes particle-22 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(22) {
  animation: particle-22 50s infinite linear; }

@keyframes particle-23 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(23) {
  animation: particle-23 50s infinite linear; }

@keyframes particle-24 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(24) {
  animation: particle-24 50s infinite linear; }

@keyframes particle-25 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(25) {
  animation: particle-25 50s infinite linear; }

@keyframes particle-26 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(26) {
  animation: particle-26 50s infinite linear; }

@keyframes particle-27 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(27) {
  animation: particle-27 50s infinite linear; }

@keyframes particle-28 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(28) {
  animation: particle-28 50s infinite linear; }

@keyframes particle-29 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(29) {
  animation: particle-29 50s infinite linear; }

@keyframes particle-30 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(30) {
  animation: particle-30 50s infinite linear; }

@keyframes particle-31 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(31) {
  animation: particle-31 50s infinite linear; }

@keyframes particle-32 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(32) {
  animation: particle-32 50s infinite linear; }

@keyframes particle-33 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(33) {
  animation: particle-33 50s infinite linear; }

@keyframes particle-34 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(34) {
  animation: particle-34 50s infinite linear; }

@keyframes particle-35 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(35) {
  animation: particle-35 50s infinite linear; }

@keyframes particle-36 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(36) {
  animation: particle-36 50s infinite linear; }

@keyframes particle-37 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(37) {
  animation: particle-37 50s infinite linear; }

@keyframes particle-38 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(38) {
  animation: particle-38 50s infinite linear; }

@keyframes particle-39 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(39) {
  animation: particle-39 50s infinite linear; }

@keyframes particle-40 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(40) {
  animation: particle-40 50s infinite linear; }

@keyframes particle-41 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(41) {
  animation: particle-41 50s infinite linear; }

@keyframes particle-42 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(42) {
  animation: particle-42 50s infinite linear; }

@keyframes particle-43 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(43) {
  animation: particle-43 50s infinite linear; }

@keyframes particle-44 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(44) {
  animation: particle-44 50s infinite linear; }

@keyframes particle-45 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(45) {
  animation: particle-45 50s infinite linear; }

@keyframes particle-46 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(46) {
  animation: particle-46 50s infinite linear; }

@keyframes particle-47 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(47) {
  animation: particle-47 50s infinite linear; }

@keyframes particle-48 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(48) {
  animation: particle-48 50s infinite linear; }

@keyframes particle-49 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(49) {
  animation: particle-49 50s infinite linear; }

@keyframes particle-50 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(50) {
  animation: particle-50 50s infinite linear; }

@keyframes particle-51 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(51) {
  animation: particle-51 50s infinite linear; }

@keyframes particle-52 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(52) {
  animation: particle-52 50s infinite linear; }

@keyframes particle-53 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(53) {
  animation: particle-53 50s infinite linear; }

@keyframes particle-54 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(54) {
  animation: particle-54 50s infinite linear; }

@keyframes particle-55 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(55) {
  animation: particle-55 50s infinite linear; }

@keyframes particle-56 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(56) {
  animation: particle-56 50s infinite linear; }

@keyframes particle-57 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(57) {
  animation: particle-57 50s infinite linear; }

@keyframes particle-58 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(58) {
  animation: particle-58 50s infinite linear; }

@keyframes particle-59 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(59) {
  animation: particle-59 50s infinite linear; }

@keyframes particle-60 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(60) {
  animation: particle-60 50s infinite linear; }

@keyframes particle-61 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(61) {
  animation: particle-61 50s infinite linear; }

@keyframes particle-62 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(62) {
  animation: particle-62 50s infinite linear; }

@keyframes particle-63 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(63) {
  animation: particle-63 50s infinite linear; }

@keyframes particle-64 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(64) {
  animation: particle-64 50s infinite linear; }

@keyframes particle-65 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(65) {
  animation: particle-65 50s infinite linear; }

@keyframes particle-66 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(66) {
  animation: particle-66 50s infinite linear; }

@keyframes particle-67 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(67) {
  animation: particle-67 50s infinite linear; }

@keyframes particle-68 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(68) {
  animation: particle-68 50s infinite linear; }

@keyframes particle-69 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(69) {
  animation: particle-69 50s infinite linear; }

@keyframes particle-70 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(70) {
  animation: particle-70 50s infinite linear; }

@keyframes particle-71 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(71) {
  animation: particle-71 50s infinite linear; }

@keyframes particle-72 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(72) {
  animation: particle-72 50s infinite linear; }

@keyframes particle-73 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(73) {
  animation: particle-73 50s infinite linear; }

@keyframes particle-74 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(74) {
  animation: particle-74 50s infinite linear; }

@keyframes particle-75 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(75) {
  animation: particle-75 50s infinite linear; }

@keyframes particle-76 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(76) {
  animation: particle-76 50s infinite linear; }

@keyframes particle-77 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(77) {
  animation: particle-77 50s infinite linear; }

@keyframes particle-78 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(78) {
  animation: particle-78 50s infinite linear; }

@keyframes particle-79 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(79) {
  animation: particle-79 50s infinite linear; }

@keyframes particle-80 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(80) {
  animation: particle-80 50s infinite linear; }

@keyframes particle-81 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(81) {
  animation: particle-81 50s infinite linear; }

@keyframes particle-82 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(82) {
  animation: particle-82 50s infinite linear; }

@keyframes particle-83 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(83) {
  animation: particle-83 50s infinite linear; }

@keyframes particle-84 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(84) {
  animation: particle-84 50s infinite linear; }

@keyframes particle-85 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(85) {
  animation: particle-85 50s infinite linear; }

@keyframes particle-86 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(86) {
  animation: particle-86 50s infinite linear; }

@keyframes particle-87 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(87) {
  animation: particle-87 50s infinite linear; }

@keyframes particle-88 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(88) {
  animation: particle-88 50s infinite linear; }

@keyframes particle-89 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(89) {
  animation: particle-89 50s infinite linear; }

@keyframes particle-90 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(90) {
  animation: particle-90 50s infinite linear; }

@keyframes particle-91 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(91) {
  animation: particle-91 50s infinite linear; }

@keyframes particle-92 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(92) {
  animation: particle-92 50s infinite linear; }

@keyframes particle-93 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(93) {
  animation: particle-93 50s infinite linear; }

@keyframes particle-94 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(94) {
  animation: particle-94 50s infinite linear; }

@keyframes particle-95 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(95) {
  animation: particle-95 50s infinite linear; }

@keyframes particle-96 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(96) {
  animation: particle-96 50s infinite linear; }

@keyframes particle-97 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(97) {
  animation: particle-97 50s infinite linear; }

@keyframes particle-98 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(98) {
  animation: particle-98 50s infinite linear; }

@keyframes particle-99 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(99) {
  animation: particle-99 50s infinite linear; }

@keyframes particle-100 {
  0% {
    transform: translateY(0vh);
    opacity: 1; }
  30% {
    transform: translateY(-10vh);
    opacity: 0.9; }
  40% {
    transform: translateY(-20vh);
    opacity: 0.8; }
  50% {
    transform: translateY(-30vh);
    opacity: 0.7; }
  60% {
    transform: translateY(-40vh);
    opacity: 0.6; }
  70% {
    transform: translateY(-50vh);
    opacity: 0.5; }
  100% {
    transform: translateY(-100vh);
    opacity: 0; } }
#particles span:nth-child(100) {
  animation: particle-100 50s infinite linear; }

html, body {
  position: relative;
  height: 100%;
  background-color: #224154;
  text-align: center;
  overflow: hidden;
  min-width: 768px; }

#particles {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.domdom {
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
  box-shadow: 0px 0px 2px 1px #ffffff; }

/*# sourceMappingURL=domdom.css.map */