body {
  background: url(img/bg.jpg); }

.container {
  max-width: 1080px;
  height: 750px;
  margin: 0 auto;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: white; }

.container-left {
  width: 290px;
  height: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  float: left; }

.logo {
  width: 100%;
  height: 80px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: #3b5999;
  text-transform: uppercase;
  line-height: 80px;
  text-align: center;
  font-size: 27px;
  color: white;
  position: relative; }
  .logo img {
    width: 120px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.rank {
  width: 100%;
  height: 670px;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.index-rank {
  width: 100%;
  height: 40px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-bottom: 1px solid rgba(204, 204, 204, 0.47);
  margin-top: 10px; }

.container-right {
  width: 790px;
  height: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  float: left; }

.wpm-rank {
  width: 50px;
  height: 100%;
  float: right;
  line-height: 40px;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.username-rank {
  width: 140px;
  height: 100%;
  float: right;
  line-height: 40px;
  padding-left: 5px;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.img-rank {
  width: 40px;
  height: 100%;
  float: right;
  position: relative;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
  .img-rank img {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.stt-rank {
  width: 58px;
  height: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  float: right;
  text-align: center;
  line-height: 40px;
  font-weight: bold; }

.navbar {
  height: 60px;
  width: 760px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: #3b5999;
  position: relative;
  overflow: hidden; }
  .navbar button {
    float: right;
    padding: 21px;
    cursor: pointer;
    font-size: 14px; }

.login-mxh {
  width: 120px;
  height: 60px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: red;
  float: right;
  position: absolute;
  right: 80px;
  transform: translateY(-80px);
  transition: 0.5s; }

.activeLogin {
  transform: translateY(0px); }

.fb-login {
  width: 60px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: #005e99;
  height: 100%;
  box-sizing: border-box;
  float: left;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid white;
  border-left: 1px solid white; }
  .fb-login svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 22px; }

.fb-login:hover {
  background: #0a6caafc; }

.google-login {
  width: 60px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  background: white;
  height: 100%;
  box-sizing: border-box;
  float: left;
  position: relative;
  cursor: pointer; }
  .google-login svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: red;
    font-size: 22px; }

.google-login:hover {
  background: #e4e4e4; }

.main {
  border: 1px solid rgba(204, 204, 204, 0.47);
  height: 688px; }

.text-data {
  width: 100%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 118px;
  overflow: hidden;
  color: #1d4851;
  font-family: Times New Roman, Times, serif;
  background: #ffffff;
  border: 1px solid #8eb6d8;
  -moz-user-select: none;
       user-select: none;
  padding-left: 7px; }

.text-data::-webkit-scrollbar {
  width: 0px; }

.activeTextData {
  display: none; }

#row1 {
  position: relative;
  color: #111111;
  overflow-wrap: break-word; }

#row1 span {
  padding: 9.2px;
  margin-right: 6px;
  font-size: 33px;
  display: inline-block; }

.timer {
  width: 70px;
  height: 50px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-style: dotted;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 50px;
  text-align: center;
  font-size: 35px; }

.inputText {
  width: 100%;
  height: 60px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  margin-top: 20px;
  border: 1px solid #9e9e9e; }
  .inputText input {
    width: 720px;
    height: 57px;
    float: left;
    padding: 0;
    margin: 0;
    border: none;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    font-size: 30px;
    padding-left: 15px; }

.reset {
  width: 66px;
  height: 100%;
  background: #bababa;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  float: left;
  position: relative;
  cursor: pointer; }
  .reset img {
    width: 40px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.reset:hover {
  background: #928d8d; }
  .reset:hover img {
    background: #928d8d; }

.footer {
  width: 100%;
  min-height: 20px;
  overflow: hidden; }

.result {
  width: 280px;
  height: 340px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-radius: 5px;
  background: white;
  margin-top: 20px;
  border: 1px solid #8eb6d8;
  box-shadow: 1px 1px 1px 1px rgba(154, 190, 227, 0.9); }

.text-result {
  width: 100%;
  height: 50px;
  background: #4d7f9f;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 23px; }

.value-rls {
  width: 100%;
  height: 40px; }

.wpm {
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  color: #527a1e; }

.value-left, .value-right {
  width: 50%;
  height: 100%;
  border-top: 1px solid rgba(168, 151, 151, 0.69);
  float: left;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  line-height: 40px;
  font-weight: bold; }

.value-left {
  padding-left: 10px; }

.value-right {
  text-align: right;
  padding-right: 10px; }

#correctWords {
  color: #527a1e; }

#wrongWords {
  color: red; }

.btn-icon-fb {
  background-color: #00d1b2 !important;
  width: 258px !important;
  height: 50px !important;
  margin-left: 10px !important;
  margin-top: 3px !important;
  background: #3275b1 !important;
  font-size: 20px !important; }
  .btn-icon-fb span {
    color: white; }

.icon {
  color: white; }

.sdf {
  border-radius: 10px;
  padding: 10px;
  font-size: 20px; }

.mauxam {
  background: rgba(134, 140, 147, 0.35); }

.maudo {
  color: red; }

.active {
  display: inline-block; }

.backgroundred {
  background: red; }

.sl-user-test {
  width: 100%;
  height: 70px;
  background: white;
  position: relative; }
  .sl-user-test span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 14px;
    width: 90%;
    text-align: center;
    background: #eee;
    padding: 10px 4px;
    color: black;
    border-radius: 5px; }

.highlight-bg-red {
  background: red !important; }

.colorRed {
  color: red; }

.bg-gray {
  background: rgba(128, 128, 128, 0.29); }

.noselect {
  -moz-user-select: none;
       user-select: none; }

.tile.is-parent {
  padding: 0.75rem 3rem !important; }

/*# sourceMappingURL=style.css.map */