html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #beddff;
  overflow-x: hidden; }

.container-ancestor {
  margin: 0 !important;
  padding-top: 30px; }

.logic-form {
  width: 100%; }

.ranking-table {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #8eb6d8; }

.text-data {
  padding: 6px 12px 30px 12px;
  margin-top: 0px;
  margin-bottom: 10px;
  height: 110px;
  overflow: hidden;
  color: #1d4851;
  font-family: Times New Roman, Times, serif;
  line-height: 42px;
  background: #ffffff;
  border: 1px solid #8eb6d8;
  border-radius: 4px;
  -moz-user-select: none;
       user-select: none; }

.activeTextData {
  display: none; }

#row1 {
  position: relative;
  color: #111111;
  overflow-wrap: break-word; }
  #row1 span {
    padding: 3px 5px 3px 5px;
    margin-right: 6px;
    font-size: 33px;
    display: inline-block; }

.input-check-form {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  margin-top: 30px;
  background: rgba(167, 200, 231, 0.2784313725);
  border-radius: 5px;
  position: relative; }

.container-input-check-form {
  width: 600px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -moz-box-sizing: border-box;
       box-sizing: border-box; }

.input-row {
  width: 470px;
  height: 100%;
  float: left;
  font-size: 25px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  color: black;
  padding-left: 10px;
  border: 1px solid #8eb6d8;
  border-radius: 5px; }

.input-row:focus {
  outline: none; }

.timer {
  width: 80px;
  height: 100%;
  float: left;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  padding: 0px 10px; }

.container-timer {
  width: 100%;
  height: 100%;
  background: #3c4d5c;
  border-radius: 5px;
  line-height: 50px;
  color: white;
  text-align: center;
  font-size: 23px; }

.reset-time {
  width: 50px;
  height: 100%;
  border-radius: 5px;
  float: left;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  position: relative;
  background-color: #3276b1;
  border-color: #285e8e;
  cursor: pointer; }
  .reset-time img {
    width: 28px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); }

.result {
  width: 280px;
  height: 340px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-radius: 5px;
  background: white;
  margin-top: 20px;
  border: 1px solid #8eb6d8;
  box-shadow: 1px 1px 1px 1px rgba(154, 190, 227, 0.9); }

.text-result {
  width: 100%;
  height: 50px;
  background: #4d7f9f;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 23px; }

.value-rls {
  width: 100%;
  height: 40px;
  padding: 0px 10px; }

.wpm {
  font-size: 44px;
  text-align: center;
  font-weight: bold;
  color: #527a1e; }

.value-left, .value-right {
  width: 50%;
  height: 100%;
  border-top: 1px solid rgba(168, 151, 151, 0.69);
  float: left;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  line-height: 40px;
  font-weight: bold; }

.value-right {
  text-align: right; }

#correctWords {
  color: #527a1e; }

#wrongWords {
  color: red; }

.btn-icon-fb {
  background-color: #00d1b2 !important;
  width: 258px !important;
  height: 50px !important;
  margin-left: 10px !important;
  margin-top: 3px !important;
  background: #3275b1 !important;
  font-size: 20px !important; }

.table-rank {
  width: 100%; }

.avt-user {
  width: 40px;
  height: auto; }

.rank-fix {
  padding: 0px 0px !important;
  margin-top: 13px; }

.sdf {
  border-radius: 10px;
  padding: 10px;
  font-size: 20px; }

.mauxam {
  background: rgba(134, 140, 147, 0.35); }

.maudo {
  color: red; }

.active {
  display: inline-block; }

.backgroundred {
  background: red; }

.accuracy {
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.49);
  padding: 6px 0px; }

.correctWords {
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.49);
  padding: 6px 0px; }

.wrongWords {
  font-size: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.49);
  padding: 6px 0px; }

.competition {
  width: 100%;
  height: 40px;
  background: #428bca;
  line-height: 40px;
  padding-left: 10px;
  color: white; }

.sl-user-test {
  width: 100%;
  height: 70px;
  background: white;
  position: relative; }
  .sl-user-test span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 14px;
    width: 90%;
    text-align: center;
    background: #eee;
    padding: 10px 4px;
    color: black;
    border-radius: 5px; }

.highlight-bg-red {
  background: red !important; }

.colorRed {
  color: red; }

.bg-gray {
  background: rgba(128, 128, 128, 0.29); }

.noselect {
  -moz-user-select: none;
       user-select: none; }

.tile.is-parent {
  padding: 0.75rem 3rem !important; }

/*# sourceMappingURL=style.css.map */